.back{
    position: absolute;
    height: 85vh;
    width: 100%;
}
.shape_container{
    position: relative;
}
.shape_item{
    position: absolute;
}
.shape_big_item{
    background-image: url(./images/big.svg);
    width: 58vw;
    height: 58vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    top:-17vw;
    left:-20vw;
}
.obj{
    background-image: url(./images/small.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.obj1{
    width: 4vw;
    height: 4vw;
}
.shape_container div:nth-child(2){
    animation: anim 3s alternate;
    animation-iteration-count: infinite ;
    top:22vw;
    left:38vw;
}
.obj2{
    width: 2.6vw;
    height: 2.6vw;
}
.shape_container div:nth-child(3){
    animation: anim 3s forwards alternate;
    animation-iteration-count: infinite ;
    animation-delay: .1s;
    top:15vw;
    left:55vw;
}
.obj3{
    width: 0.8vw;
    height: 0.8vw;
}
.shape_container div:nth-child(4){
    animation: anim 3s forwards alternate;
    animation-iteration-count: infinite ;
    animation-delay: .3s;
    top:18vw;
    left:63vw;
}
.obj4{
    width: 1.8vw;
    height: 1.8vw;
}
.shape_container div:nth-child(5){
    animation: anim 3s forwards alternate;
    animation-iteration-count: infinite ;
    animation-delay: .4s;
    top:13vw;
    left:67vw;
}
.obj5{
    width: 2vw;
    height: 2vw;
}
.shape_container div:nth-child(6){
    animation: anim 3s forwards alternate;
    animation-iteration-count: infinite ;
    animation-delay: .7s;
    top:8vw;
    left:75vw;
}
.obj6{
    width: 2.3vw;
    height: 2.3vw;
}
.shape_container div:nth-child(7){
    animation: anim 3s forwards alternate;
    animation-iteration-count: infinite ;
    animation-delay: .8s;
    top:10vw;
    left:85vw;
}
@keyframes anim {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3vw);
    }
    to {
        transform: translateY(0vw);
    }
  }

